input[type=file] {

  // Needed to override webkit button
  &::-webkit-file-upload-button {
    opacity: 0;
    width: 0;
    position: absolute;
    background-color: #000000;
    padding:2px 0 0 0;
    outline: none;
  }

  box-sizing: border-box;
  min-height: 32px;
  cursor: pointer;
  filter: alpha(opacity=0);
}
